{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to my website! 🚀I'm Jaloliddin Sultonov, also known as Aladdin ✨, a passionate and dedicated individual with a thirst for knowledge and a drive for excellence.
        </p>
        <p>
          Education:
          I am currently studying at University 🎓, pursuing a Bachelor of Computer Science degree from Vistula University. My academic journey has equipped me with a solid foundation in various programming languages and technologies.
        </p>
        Professional Background:
        While I may not have prior professional experience, I am eagerly seeking opportunities to apply my skills and contribute to exciting projects in the tech industry.
        <p>
          Skills:
          I am proficient in a wide range of technologies, including Python, HTML5, CSS3, Django, Flask, Jinja, Linux, Pandas, SQL, SQLite, SQLAlchemy, and more. I am also adept at version control using Git and GitHub, and I have a strong understanding of data structures and algorithms. Currently, I am expanding my skill set by learning PostgreSQL, FastAPI, and honing my problem-solving abilities through platforms like LeetCode.
        </p>
        <p>
          Interests:
          Outside of the tech world, I have a passion for Cybersport, particularly CS2 🎮, and I am a proud supporter of Manchester United Football Club ⚽. I believe in the power of sports to unite people and foster a sense of camaraderie.
        </p>
        <p>
          In my free time, you'll often find me immersed in programming books like "Python 101" and "Cracking the Coding Interview," as well as self-improvement books like "Atomic Habits" 📚. I am committed to lifelong learning and continuous growth, both personally and professionally.
        </p>
        <p>
          Thank you for visiting my website, and I look forward to connecting with you! 🌟
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
